@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital@0;1&family=Source+Sans+Pro&display=swap');

$title-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
$nav-font: 'Source Sans Pro', sans-serif;