.header {
    padding-top: 53px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    background-image: url('../../img/background-header.png'), url('../../img/bg-gradient-header.png');
    // background-size: cover;
    background-size: auto 100%;

    &__nav {
        margin-bottom: 223px; 
    }

    &__nav-content {
        gap: 110px;
    }

    &__menu {
        gap: 70px;
    }

    &__item-link {
        font-family: $nav-font;
        font-size: 14px;
        line-height: 18px;
        color: $white-color;

        &:hover {
            border-bottom: 1px solid $white-color;
        }
    }

    &__menu-item {
        background: url(../../img/list-marker02.svg) no-repeat;
        padding-left: 24px;
        background-position: left;
        
    }

    &__title {
        font-family: $title-font;
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        letter-spacing: 0.1em;
        color: $white-color;
        text-align: center;
        margin-bottom: 20px;
    }

    &__slogan {
        font-family: $title-font;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.3em;
        color: $white-color;
        text-align: center;
        margin-bottom: 240px;
    }

    &__arrow-icon {  
        text-align: center;
    }
}

// .mark {
//     margin-right: 14px;
// }

// ul { list- style: none; } li{ background: url(путь- к- картинке) no- repeat; padding- left: 20px; }